     h1{
        color: chocolate;
        background-color: violet;
       } 

       h2{
        color: aqua;
        background-color: brown;
       }

       p{
        color: chartreuse;
        background-color: blanchedalmond;
       }

       h3{
        color: blueviolet;
        background-color: beige;
       }